.landing__container {
  max-width: 85%;
  height: calc(100vh - 20rem);
  margin: auto;
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

.check {
  max-width: 100%;
  height: fit-content;
  border: 1px solid #333;
}
