.header {
  max-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.brand__name {
  font-size: 3.4rem;
  font-weight: 700;
  color: blueviolet;
  text-decoration: none;
}
