.leftSidebar__container {
  max-width: 100%;
  height: calc(100vh - 20rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.leftSidebar__option__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home,
.explore,
.bookmark,
.profile {
  max-width: 100%;
  height: 10rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: #000;
}

.profile__image {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.leftSidebar__Profile {
  max-width: 100%;
  display: flex;

  align-items: center;
}

.profile__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.person__details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ccc;
}
.person__details h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: blue;
}
